* {
  box-sizing: border-box;
}

section {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
}

button {
  font: inherit;
  cursor: pointer;
  background: #230052;
  border: 1px solid #230052;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 20px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #460897;
  border-color: #460897;
}



li {
  word-break: keep-all;
}

.heading {
  font-size: large;
  background: yellow;
  border: 1px solid #230052;
  color: red;
  padding: 0.75rem 2rem;
  border-radius: 20px;
  font-weight: 600;


}

h2 {
  color: black;
}

.content-table {
  border-collapse: collapse;
  margin: 15px auto;
  font-size: 0.9em;
  min-width: 90%;
  
  overflow: hidden;
  
 
}


.content-table thead tr {
  background-color: #557a95;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
 
 
}

.content-table thead th {
 padding: 15px 100px;
}

td{
 color : #2F4F4F;
 font-weight: 500;

  /* width: 100%; */

  
}

.content-table td {
  padding: 12px 15px;
  width: 90%;
  white-space: nowrap;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: #7395Ae;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.split {
  display: flex;
  justify-content: space-between;
}

.header {
  width: 80%;
  color: white;
  margin: auto;
}

.span {
  color: red;
}